@media only screen and (max-width: 600px) {

  *::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}


#wrapper{
height: 100%;
width: 100%;
}

#content{
  width: calc(100vw - 250px);
  background-color: red;
  position:absolute;
  right: 0;
  height: calc(100vh - 80px - 53px);
  top:53px;
  
}

#sidebar{
  position: fixed;
  height:calc(100vh - 80px) ;
  width: 250px;
  background-color: #3d90ab;
  top:0;
}


#navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 20%;
  height: 53px;
  width: calc(100vw - 250px);
}
#navbar {
  height: 53px;
  width: calc(100vw - 250px);
  right: 0;
  position: absolute;
}

#navbar ul li{
  display: inline;
  padding: 25px;
  padding-top: 14px;
  padding-bottom: 18px;
  text-align: center;


}

#navbar ul li a{
  padding: 25px;
  padding-top: 14px;
  padding-bottom: 18px;

}

#navbar ul li a:hover{
  background-color:lightblue;
}
.page{
  width: 100%;
  justify-content: center;
  display: flex;
}

img{
  user-select: none;
  -webkit-user-drag: none;
}

}