@media only screen and (min-width: 600px) {
  *::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body{
  overflow-x: hidden;
  overflow-y: hidden ;
}

#wrapper{
height: 100%;
width: 100%;
}

#content{
  width: calc(100vw - 250px);
  position:absolute;
  right: 0;
  height: calc(100vh - 80px - 53px);
  top:53px;
  
}

.link{
  text-decoration: none;
  z-index: 2;
  height: 100%;
  width: 100%;
  
}




#navlist{
  list-style: none;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 53px;
  width: calc(100vw - 250px);
}

#navbar {
  height: 53px;
  width: calc(100vw - 250px);
  right: 0;
  position: absolute;
}


#user-avatar{
  height: 100%;
  top: 0;
  cursor: pointer;
  z-index: 6;
 }

.focus-div{
  position: absolute; 
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.001);

}

#nav-icon{
  left: 5px;
  position: absolute;
  top: 8px;
  height: 45px;
}





.nav-li{
  display: inline;
  padding: 25px;
  padding-top: 14px;
  padding-bottom: 18px;
  text-align: center;


}



.nav-link{
  padding: 25px;
  padding-top: 14px;
  padding-bottom: 18px;

}

.nav-link:hover{
  background-color:lightblue;
}
.page{
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  display: flex;
}



 #user-avatar:hover{
  transform: scale(1.05);
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.34);
-webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.34);
-moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.34);

}

 .image-link{
  padding-top: 10px;
  height: 100%;  
  position:absolute;
  right: 20px;
  height: 54px;
  cursor: pointer;
  z-index: 15;
 }
}