
#sidebar{
    position: fixed;
    height:calc(100vh - 80px) ;
    width: 250px;
    background: rgb(186, 234, 250);
    top:0;
    scrollbar-width: thin;

  }



#input-search{
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    width: 90%;
    padding: 1em;
    margin: 1em;
    
    background-color: #3d90ab;
    color: white;
}

#input-search::placeholder{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.search-ul{
    margin-left: 8px;
    overflow-y: scroll;
    scrollbar-width: 2px;
    max-height:calc(80vh - 75px );
    scrollbar-width: thin;

    
}

.search-track-div .track-author {
    margin-left: 3px;
    margin-top :0;
}

.searchCategory
{
    text-decoration: underline;
}

.li-search{
    margin-top: 4px;
    cursor: pointer;
}

.search-track-div{
    width: 90%;
    border-radius: 4px;
    padding: 5px;
}

.search-author-div{
    width: 90%;
    border-radius: 4px;
    padding: 2px;
}

.search-author-div:hover{
    background-color: lightblue;
}

.search-track-div:hover{
    background-color: lightblue;
}