

    @keyframes opacityAnimation
    {
        0%{
            opacity: 0;
            transform: translateY(30px);
        }
        100%{
            transform: translateY(0px);
            opacity: 100;
        }
    }



    .track-ul-rich{
        list-style: none;
        width: calc(100vw - 250px);
        display:grid;
        grid-template-rows: repeat(auto-fill, 200px);
        grid-gap: 34px 3px;
        grid-auto-columns: 200px;
        grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 0.5fr));
        height: 100%;
        grid-auto-flow: column;
        margin-top: 20px;
        overflow-x:scroll;
        scroll-behavior: smooth;
    }


    .track-li-rich{
        justify-content: center;
        margin-top: 5px;
        border-radius:4px;
        position: relative;
        cursor: pointer;
        width: 180px;
        height: 229px;
        user-select: none;
        
    }

    .track-li-rich:hover {
        scale: 1.03;
        transition: 260ms ease;
    }

    .track-playing-rich{
        display: none;
        background-color: lightblue;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 60px;
        left: 10px;
    }



    .track-li-rich:hover .track-playing-rich
    {
        animation: opacityAnimation ease 0.25s;
        display: block;

    }

    .active-track-rich .track-playing-rich
    {
        animation: opacityAnimation ease 0s;
        display: block;

    }

    .rich-button img
    {
        position: absolute;
        left: auto;
        right:auto ;
        display: none;
    }


   .track-playing-rich img{
    justify-content: center;
    display: flex;
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
    left: 16px;
    top: 16px;
}

    .track-playing-rich:hover{
        scale: 1.02;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px;
    }

    .icon-image {
        display: absolute;
            margin: 0;
            padding: 0;
            height: 180px;
            aspect-ratio: 1/1;
            border-radius: 4px;
            object-fit:cover;
            
    }

    .li-div-rich {
        position: absolute;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        
    }

    .li-div-rich .track-name-rich {
        padding-left: 10px;
    }
  

    .li-div-rich:hover{
        overflow:auto;
    }

    .track-name{
        font-weight: bold;
        font-size: 14px;
    }

    .track-author{
        position: absolute;
        overflow: hidden;
        margin-left: 15px;
        font-size: 12px;
        margin-top: 4px;
    }

    .track-author:hover{
        cursor: pointer;
        text-decoration: underline;
    }


     .active-track-rich .track-playing-rich{
        display: block;
     }
   


    .tracklistrich{

        border-radius: 4px;
        top: 45px;
        position: absolute;
        left: 10px;
        height: 95%;
        width: calc(100vw - 262px);
        overflow-y: hidden;
    }




    .active-track{
        background: lightblue;
    }

    .active-track .track-name{
        color:  rgb(10, 98, 241);

    }

    .track-author{
        display: inline-block;
        position: relative;
    }
    .author-div{
        position: absolute;
        width: auto;
        height: auto;
        display: inline-block;
    }
    .author-div ::after
    { 
        top:2px;
        margin-left: 2px;
        position: absolute;
        content: ", ";
        font-size: smaller;
    }
    .author-div :last-child::after
    { 

        content: "";
    }

